<style type="text/css">
<!--

li { font-family: Tahoma, sans-serif; font-size: 10pt; line-height: 16pt; list-style-type: square}

.titlu { font-family: Tahoma, sans-serif; font-weight:bold; font-size: 11pt}
.p { font-family: Tahoma, sans-serif; font-size: 10pt; line-height: 16pt}
#redstar { color: #FFA0A0; }

.poza {  border: black inset; border-width: 1px 1px 1px 1px}
.info {  font-family: Tahoma, sans-serif; font-size: 11px}

.small {  font-family: Tahoma, sans-serif; font-size: 9px; color: #999999}

a { text-decoration: none}
a:hover { color: #FFFFFF; text-decoration:underline}

-->
</style>
